.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 45px 5%;
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 57px;
}

.nav-li {
  color: #FF6060;
  text-decoration: none;
  font-size: 24px;
}

.nav-li:hover,
.nav-li:focus {
  text-decoration: underline;
}