.slider {
  width: 335px;
  height: 255px;
  position: relative;
}

.slider .left-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 27%;
  left: 20px;
  z-index: 1;
}

.slider .right-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 27%;
  right: 20px;
  z-index: 1;
}

.slide-image {
  width: 335px;
  height: 255px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-number {
  position: absolute;
  bottom: 45%;
  right: 45%;
  font-size: 1.125rem;
  color: #fff;
  z-index: 1;
}