.slider {
  width: 100%;
  height: 255px;
  position: relative;
  padding: 0;
}

.slider .left-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 116px;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.slider .right-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 116px;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.slide-image {
  width: 100%;
  height: 255px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-number {
  display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .slider {
    height: 335px;
  }

  .slider .left-arrow {
    width: 48px;
    height: 48px;
    top: 144px;
  }

  .slider .right-arrow {
    width: 48px;
    height: 48px;
    top: 144px;
  }

  .slide-image {
    height: 335px;
    border-radius: 20px;
  }

  .slide-number {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: white;
    font-size: 1rem;
  }
}


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .slider {
    height: 415px;
  }

  .slider .left-arrow {
    width: 96px;
    height: 96px;
    top: 160px;
  }

  .slider .right-arrow {
    width: 96px;
    height: 96px;
    top: 160px;
  }

  .slide-image {
    height: 415px;
    border-radius: 25px;
  }

  .slide-number {
    bottom: 25px;
    font-size: 1.125rem;
  }
}
