footer {
  display: flex;
  height: 209px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

footer img {
  width: 122px;
  height: 40px;
}

footer p {
  font-size: 12px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer p {
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  footer {
    justify-content: flex-end;
  }

  footer p {
    font-size: 24px;
  }
}