section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap : 113px;
  color: #FF6060;
  padding-top: 63px;
  padding-bottom: 113px;
}

h1 {
  font-size: 6rem;
}

p {
  font-size: 2.25rem;
  text-align: center;
}

.error-link {
  text-decoration: none;
  font-size: 1.125rem;
}

.error-link:hover,
.error-link:focus {
  text-decoration: underline;
}

.error-link:visited {
  color: #FF6060;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section {
    gap: 125px;
    padding-bottom: 125px;
  }

  h1 {
    font-size: 9rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  section {
    gap: 139;
    padding-bottom: 139px;
  }

  h1 {
    font-size: 18rem;
  }
}